# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Env files
.env
.env.*

# IDE / OS files
.idea/
.vscode/
.DS_Store

# Logs & local DBs
*.log
*.sqlite3
*.db
